<!-- https://medium.com/@oranaki9910/how-to-create-a-dynamic-layout-using-a-named-router-outlet-in-angular-8f211afe4ea2 -->

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer opened class="example-sidenav" mode="side">
    <span class="post-list-title">Post List</span>
    <p
      class="post-title"
      *ngFor="let post of posts$ |async"
      routerLinkActive="active"
      [routerLink]="['',{outlets:{details:['post',post.id]}}]"
    >
      <!--added router link to display in the router-outlet with the 'details' name attribute-->
      {{post.title}}
    </p>
  </mat-drawer>
</mat-drawer-container>


<!-- https://angular.dev/api/core/@for -->
@for (item of items; track item.name) {
  <li>{{ item.name }}</li>
  } @empty {
  <li>There are no items.</li>
  }


  <!-- https://angular.fr/template-syntax/if -->
  @if (user$ | async; as user) {
    <div>{{ user.name }}</div>
  } @else {
    <div>Chargement...</div>
  }

  <!-- https://angular.fr/pipes/async -->
  // user-list.component.ts
  import { Component } from '@angular/core';
  import { AsyncPipe } from '@angular/common';
  import { HttpClient } from '@angular/common/http';
  import { Observable, map } from 'rxjs';
  
  interface User {
    id: number;
    name: string;
    email: string;
  }
  
  @Component({
    selector: 'app-user-list',
    standalone: true,
    imports: [AsyncPipe],
    template: `
      <ul>
        @for (user of users$ | async ; track user.id) {
          <li>{{ user.name }} ({{ user.email }})</li>
        }
      </ul>
    `
  })
  export class UserListComponent {
    users$: Observable<User[]>;
  
    constructor(private http: HttpClient) {
      // Récupération de la liste des utilisateurs depuis l'URL https://jsonplaceholder.typicode.com/users
      this.users$ = this.http.get<User[]>('https://jsonplaceholder.typicode.com/users')
    }
  }



